.calendar-main-container {
    width: 100%;
    max-width: 100%;
}

.calendar {
    --main-border-color: #979797;
}

.calendar {
    border: 1px solid var(--main-border-color);
    width: 100%;

    display: flex;
    padding: 0 0 20px 0;
    border-radius: 5px;
    background-color: #eaeaea;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    justify-content: center;
}

.calendar-container {
    display: flex;
    justify-content: center;
}

.month {
    margin: 5px 0 5px 0;
    text-align: center;
    font-weight: bold;
}

.days-holder {
    width: 96%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    position: relative;
}


.calendar .day {
    border-left: 1px solid var(--main-border-color);
    border-top: 1px solid var(--main-border-color);

    flex-basis: 14.6%;
    min-height: 500px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 0px 4px 0px #979797;
    /*min-width: 50px;*/
}

.calendar .day.current-day {
    background-color: #ececec !important;
}

.calendar .day.weekend-day {
    background-color: #c4c4c4;
}

.calendar .day-heading {
    /*height: 55px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
    align-items: center;
}

.calendar .day-name {
    font-size: 11px;
    color: var(--main-border-color);
    font-weight: bold;
}

.calendar .day-num {
    font-size: 18px;
    color: var(--main-border-color);
}

.arrow {
    width: 2%;
    min-width: 20px;
    /* height: 100%; */
    /* height: 40px; */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */

    cursor: pointer;
}

.arrow-left {
    background-image: url('/images/calendar/left-arrow.svg');
}

.arrow-right {
    background-image: url('/images/calendar/right-arrow.svg');
}

.hours {
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    color: #232323;
    width: 90%;
    border-bottom: 1px solid var(--main-border-color);
}

.mission-placeholder {
    height: 28px;
    border-bottom: 1px solid var(--main-border-color);
    position: relative;
}

.mission {
    background-color: orangered;
    position: absolute;
    top: 1px;
    bottom: 1px;
    border-radius: 6px;

    font-size: 11px;
    cursor: pointer;
    /*width: 20px;*/
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    line-height: 200%;
    padding: 0 5px 0 5px;
    color: #fff;

    display: flex;
}

.modal {
    height: 250px;
    width: 400px;
}

.modal a.close-modal {
    top: 0;
    right: 0;
}

.mission-black-area {
    min-width: 10px;
    width: 10px;
    background: #000;
    height: 100%;
    margin-left: -5px;
    margin-right: 2px;
}

.month-select-container {
    display: flex;
    justify-content: space-between;
}

.select-view-container {
    margin-right: 2%;
    margin-top: 2px;
}

.select-view-container select {
    font-size: 12px;
}

.customer-details {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.buttons-container > div {
    display: flex;
    flex-direction: column;
}

.buttons-container button{
    margin: 5px;
}

.customer-info-section{
    background: #e6e6e6;
    padding: 15px;
    border: 1px solid #cacaca;
    box-shadow: 2px 2px 4px 0px #979797;
}

#calendar-indicator-line{
    width: 0;
    height: 100%;
    position: absolute;
    border-right: 1px solid red;
    top: 0;
    bottom: 0;
}