<template>
    <div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 grid-margin">
                <a class="btn btn-sm btn-github float-right" v-if="addressGroup.length!=0"  href="#" data-toggle="modal" data-target="#addAddress-modal"><i class="mdi mdi-plus"></i></a>
            </div>
         </div>
        <div class="row" v-for="(group, i) in addressGroup" >

           <div class="col-md-4 grid-margin" v-for="addr in addresses.slice(i * itemsPerRow, (i + 1) * itemsPerRow)">
               <div class="card">
                   <div class="card-body">
                       <div class="media">
                           <div class="mr-3">
                               <h4>
                                   <i class="mdi mdi-map-marker"></i>
                               </h4>
                           </div>
                           <div class="media-body">

                               <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                   <button type="button" class="btn btn-outline-light text-danger" v-if="address_id!=addr.address_id" @click="showEditForm(addr)"><i class="mdi mdi-pencil"></i></button>
                                   <button type="button" class="btn btn-outline-light text-danger" v-else @click="updateAddress(addr)"><i class="mdi mdi-harddisk"></i></button>

                                   <button type="button" class="btn btn-outline-light text-danger" @click="deleteAddress(addr)"><i class="mdi mdi-trash-can"></i></button>

                               </div>
                               <div v-if="address_id!=addr.address_id">
                                   <p> {{addr.address.street}}</p>
                                   <p>  {{addr.address.postal_code}} {{addr.address.city}}</p>
                                   <p>  {{addr.address.country}}</p>
                               </div>
                               <div v-else >
                                   <div class="row">
                                       <div class="col-sm-12">
                                           <div class="form-group form-group-sm">
                                               <label for="street">Street</label>
                                               <input type="text" class="form-control form-control-sm" v-model="addr.address.street">
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-sm-6">
                                           <div class="form-group form-group-sm">
                                               <label for="postal code">Postal Code</label>
                                               <input type="text" class="form-control form-control-sm" v-model="addr.address.postal_code">
                                           </div>
                                       </div>
                                       <div class="col-sm-6">
                                           <div class="form-group form-group-sm">
                                               <label for="City">City</label>
                                               <input type="text" class="form-control form-control-sm" v-model="addr.address.city">
                                           </div>
                                       </div>
                                   </div>

                               </div>


                           </div>
                       </div>


                   </div>
               </div>

           </div>
        </div>
        <div v-if="addressGroup.length==0">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="jumbotron text-center text-white bg-info" style="cursor: pointer" data-toggle="modal" data-target="#addAddress-modal">
                       Click here to add new address
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="addAddress-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Add New Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-sm">
                                    <label for="street">Street</label>
                                    <input type="text" class="form-control form-control-sm" v-model="addressModel.street">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm">
                                    <label for="postal code">Postal Code</label>
                                    <input type="text" class="form-control form-control-sm" v-model="addressModel.postal_code">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-sm">
                                    <label for="City">City</label>
                                    <input type="text" class="form-control form-control-sm" v-model="addressModel.city">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="storeAddress">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from 'axios';
    export default {
        props:['list','host','addressperrow'],
        data:function(){
            return {
                addresses:JSON.parse(this.list),
                itemsPerRow:this.addressperrow?this.addressperrow:3,
                address_id:null,//id of address to Edit,
                url:this.host,
                show_add_form:false,
                addressModel:{
                    street:'',
                    city:'',
                    country:'Germany',
                    postal_code:''
                }
            }
        },
        methods:{
            refreshAddresses(){
                let self=this
                axios.get(this.url+'/addresses').then(function (response) {
                    self.addresses=response.data
                })
            },
            updateAddress:function(address){
                let self=this
                axios.post(this.url+'/addresses/'+address.address_id,address.address)
                    .then(function(response){
                    self.address_id=null
                })
            },

            storeAddress:function () {
                let self=this
                axios.post(this.url+'/addresses',this.addressModel)
                    .then(function(response){
                       self.addressModel={
                           street:'',
                           city:'',
                           country:'Germany',
                           postal_code:''
                       }
                       self.refreshAddresses()
                    })
            },
            showEditForm(address){
                console.log(address)
                if( this.address_id==address.address_id){
                    this.address_id=null
                }else{
                    this.address_id=address.address_id
                }

            },
            deleteAddress(addr){
                let self=this
                axios.delete(this.url+'/addresses/'+addr.address.id)
                    .then(function (response) {
                        self.refreshAddresses()
                    })
            }
        },
        mounted() {
            console.log(this.addresses)
        },
        computed: {
            addressGroup () {
                return Array.from(Array(Math.ceil(this.addresses.length / this.itemsPerRow)).keys())
            }
        },


    }
</script>

<style scoped>

</style>
