<template>
    <div>
        <autocomplete
                source="/search/practices?q="
                results-property="items"
                :results-display="formattedDisplay"
                input-class="form-control"
                name="practice_id"
                :initial-display="iniDisplay"
                :initial-value="iniValue"
                placeholder="placeholder"
        >
        </autocomplete>
        <autocomplete
                :source="'/search/practices/'+selected_practice_id+'/services'"
                results-property="items"
                results-display="name"
                input-class="form-control"
                :name="name"
                :initial-display="iniDisplay"
                :initial-value="iniValue"
                placeholder="Select Service Area Name"
        >
        </autocomplete>





    </div>



</template>

<script>
    import Autocomplete from 'vuejs-auto-complete'


    export default {
        name: "AutocompletePractice",
        props:["url",'name','placeholder','display','ini-display','ini-value'],
        components:{
            Autocomplete
        },
        data(){
            return {
                selected_practice_id:null,
                selected_service_id:null,
                practice_id:null,
                practices:[],
                services:[]
            }
        },

        methods: {

            serviceDisplay(item){
               return item.service_area.name
            },
            formattedDisplay(item){
                let keys=this.display.split(',')
                let result=''
                keys.forEach(key=>{
                    result+=item[key]+' '
                })

                return result
            },
            search(input) {


                if (input.length < 1) { return [] }
                const url = "/api/search/practices?q="+input;


                return new Promise(resolve => {
                    if (input.length < 1) {
                        return resolve([])
                    }

                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                          resolve(data)
                        })
                })

            },
            getResultValue(result) {
                this.selected_practice_id=result.id
                return result.first_name+' '+result.last_name
            },
            handleSubmit(result,e) {
                     console.log(e)

            }

        },
        mounted() {
            console.log(this.iniDisplay,this.iniValue)
        }
    }
</script>

<style scoped>

</style>