<template>
    <div>
        <div class='row'>
            <div class=" col-4">

            </div>
            <div class="col-8">
                <FullCalendar
                        class='demo-app-calendar'
                        ref="fullCalendar"
                        defaultView="dayGridMonth"
                        :header="{
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                      }"


                        :editable="true"
                        :plugins="calendarPlugins"
                        :weekends="calendarWeekends"
                        :selectable="true"
                        @select="handleDateClick"
                        :droppable="true"
                        @eventDrop="catchEventData"
                        :events="events"
                        @eventClick="showEvent"
                        @dateClick="handleDateClick"
                        time-zone="local"
                        @next="getEvents"
                        @eventResizeStop="catchEventData"


                />
            </div>

        </div>
        <div class="modal fade" id="AddEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Job Assignement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="event_name">Event Name</label>
                                        <input type="text" id="event_name" class="form-control" v-model="newEvent.title">
                                    </div>
                                    <div class="form-group">
                                        <label for="event_name">Description</label>
                                        <textarea type="text" id="event_desc" class="form-control" v-model="newEvent.description" rows="20" style="resize: vertical"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="start_date">Start Date</label>
                                          <date-picker
                                                :lang="dateTimeLang"
                                                v-model="newEvent.start"
                                                value-type="format"
                                                input-class="form-control"
                                                type="datetime"
                                                format="YYYY-MM-DD hh:mm:ss" confirm
                                        >
                                        </date-picker>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="end_date">End Date</label>
                                        <date-picker
                                                :lang="dateTimeLang"
                                                v-model="newEvent.end"
                                                type="datetime"
                                                value-type="format"
                                                format="YYYY-MM-DD hh:mm:ss" confirm
                                        >
                                        </date-picker>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">All Day
                                            <input type="checkbox" v-model="newEvent.allDay">
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Background color
                                          <select v-model="newEvent.backgroundColor">
                                              <option value="cornflowerblue">Primary</option>
                                              <option value="orange">Orange</option>
                                              <option value="red">Red</option>
                                          </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div  v-if="addingMode">
                            <button class="btn btn-sm btn-primary" @click="addNewEvent" data-dismiss="modal">Save Event</button>
                        </div>
                        <template v-else>

                                <button class="btn btn-sm btn-success" @click="updateEvent" data-dismiss="modal">Update</button>
                                <button class="btn btn-sm btn-danger" @click="deleteEvent" data-dismiss="modal">Delete</button>
                                <button class="btn btn-sm btn-secondary" data-dismiss="modal" >Cancel</button>

                        </template>

                    </div>
                </div>
            </div>
        </div>
        <div>


        </div>
    </div>
</template>

<script>
    import DatePicker from 'vue2-datepicker'
    import FullCalendar from '@fullcalendar/vue'
    import dayGridPlugin from '@fullcalendar/daygrid'
    import timeGridPlugin from '@fullcalendar/timegrid'
    import listPlugin from '@fullcalendar/list';
    import interactionPlugin from '@fullcalendar/interaction'
    import moment from 'moment/';
    export default {
        components: {
            FullCalendar, // make the <FullCalendar> tag available,
            DatePicker
        },
        data: function() {
            return {
                dateTimeLang: {
                days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                    months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                    placeholder: {
                        date: 'Select Date',
                        dateRange: 'Select Date Range'
                }
            },
                calendarPlugins: [ // plugins must be defined in the JS
                    dayGridPlugin,
                    timeGridPlugin,
                    listPlugin,
                    interactionPlugin // needed for dateClick
                ],
                calendarWeekends: true,
                events: [],
                newEvent: {
                    title: "",
                    description:'',
                    start: "",
                    allDay:false,
                    end: "",
                    backgroundColor:'',
                    textColor:'#000'
                },
                addingMode: true,
                indexToUpdate: "",
                textColors:{
                    yellow:'#000',
                    red:'#fff',
                    orange: '#000',
                    blue:'#fff',
                },
                dateRange:{
                    start:'1'
                },
                instance:null//full calendar instance
            }
        },
        created(){
        },
        mounted(){

            this.instance=this.$refs.fullCalendar.getApi()
            this.getEvents()

        },
        methods: {
            toggleWeekends() {
                this.calendarWeekends = !this.calendarWeekends // update a property
            },
            gotoPast() {
                 this.$refs.fullCalendar.getApi() // from the ref="..."

            },
            catchEventData(arg){


                const { id, title, description,backgroundColor,textColor } = this.events.find(
                    event => event.id === +arg.event.id
                );
                this.indexToUpdate = id;
                console.log(backgroundColor)
                console.log(this.textColors[backgroundColor])

                this.newEvent = {
                    title: title,
                    description:description,
                    start:  moment(arg.event.start).format('YYYY-MM-DD hh:mm:ss'),
                    end: moment(arg.event.end || arg.event.start).format('YYYY-MM-DD hh:mm:ss'),
                    allDay:arg.event.allDay,
                    backgroundColor:backgroundColor,

                    textColor:this.textColors[backgroundColor]
                };
                this.updateEvent()
            },
            addNewEvent() {
                axios
                    .post("/api/events", {
                        ...this.newEvent
                    })
                    .then(data => {
                        this.getEvents(); // update our list of events
                        this.resetForm(); // clear newEvent properties (e.g. title, start_date and end_date)
                    })
                    .catch(err =>
                        console.log("Unable to add new event!", err.response.data)
                    );
            },
            showEvent(arg) {
                this.addingMode = false;
                $('#AddEvent').modal({show:true,backdrop:'static'})
                const { id, title, description, start, end ,allDay,backgroundColor} = this.events.find(
                    event => event.id === +arg.event.id
                );
                this.indexToUpdate = id;
                this.newEvent = {
                    title: title,
                    description:description,
                    start: moment(start).format('YYYY-MM-DD hh:mm:ss'),
                    end: moment(end || start).format('YYYY-MM-DD hh:mm:ss'),
                    allDay:allDay,
                    backgroundColor:backgroundColor,
                    textColor:this.textColors[backgroundColor]
                };
            },
            updateEvent() {
                axios
                    .put("/api/events/" + this.indexToUpdate, {
                        ...this.newEvent
                    })
                    .then(resp => {
                        this.resetForm();
                        this.getEvents();
                        this.addingMode = false;
                    })
                    .catch(err =>
                        console.log("Unable to update event!", err.response.data)
                    );
            },
            deleteEvent() {
                axios
                    .delete("/api/events/" + this.indexToUpdate)
                    .then(resp => {
                        this.resetForm();
                        this.getEvents();
                        this.addingMode = !this.addingMode;
                    })
                    .catch(err =>
                        console.log("Unable to delete event!", err.response.data)
                    );
            },
            getEvents() {
                let self=this
                console.log(this.instance)
              this.dateRange={
                    start:moment(this.instance.view.activeStart).format('YYYY-MM-DD hh:mm:ss'),
                    end:moment(this.instance.view.activeEnd).format('YYYY-MM-DD hh:mm:ss')
              }
                axios
                    .get("/api/events",{params:{...this.dateRange}})
                    .then(resp => this.events = resp.data)
                    .catch(err => console.log(err.response.data));
            },
            resetForm() {
                this.addingMode=true
                Object.keys(this.newEvent).forEach(key => {
                    return (this.newEvent[key] = "");
                });
            },
            handleDateClick(arg) {
                this.resetForm()
               const { id, title, description, start, end }=arg;
                this.newEvent = {
                    title: title,
                    description:description,
                    start:  moment(start).format('YYYY-MM-DD hh:mm:ss'),
                    end: moment(end).format('YYYY-MM-DD hh:mm:ss')
                };
                console.log({start:arg.start,end:arg.end})

                $('#AddEvent').modal({show:true,backdrop:'static'})

              /*  if (confirm('Would you like to add an event to ' + arg.dateStr + ' ?')) {
                   window.arg=arg
                    console.log(arg)
                    this.calendarEvents.push({ // add new event data
                        title: 'New Event',
                        start: arg.view.activeEnd,
                        end: arg.view.activeEnd,
                        allDay: arg.allDay
                    })
                }*/
            }
        },
        watch: {
            indexToUpdate() {
                return this.indexToUpdate;
            },

        }
    }
</script>

<style lang='scss'>
    // you must include each plugins' css
    // paths prefixed with ~ signify node_modules
    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';
    @import '~@fullcalendar/timegrid/main.css';
    .demo-app {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }
    .demo-app-top {
        margin: 0 0 3em;
    }
    .demo-app-calendar {
        margin: 0 auto;

    }
</style>