<template>
    <datetime
            :lang="lang"
            :confrim="c"
            :placeholder="p"

            :input-name="name"
            input-class="form-control"
            :append-to-body="true"
            :format="f"
            :type="t"
            v-model="time"

            width="100%"

    >

    </datetime>
</template>

<script>
    import datetime from 'vue2-datepicker'

    export default {
        components:{
          datetime
        },
        props:['name','placeholder','type','confirm','format','value'],
        name: "DateTimeComponent.vue",
        data(){
            return{
                lang: {
                    days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                    months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                    placeholder: {
                        date: 'Select Date',
                        dateRange: 'Select Date Range'
                    }
                },
                p:this.placeholder,
                t:this.type?this.type:'datetime',
                f:this.format?this.format:"YYYY-MM-DD HH:mm",
                c:this.confirm,
                time:this.value
            }
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>