<template>
    <div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 grid-margin">
                <a class="btn btn-sm btn-github float-right "  v-if="itemsGroup.length!=0"data-toggle="modal" data-target="#file-modal" href="#"  ><i class="mdi mdi-plus"></i></a>
            </div>
        </div>
        <div class="row" v-for="(group, i) in itemsGroup">

                <div class="col-md-4" v-for="(item,index) in documents.slice(i * itemsPerRow, (i + 1) * itemsPerRow)">
                   <div class="card">
                       <div class="card-body">
                           <div class="row">
                               <div class="col-md-9">

                               </div>
                               <div class="col-md-3">
                                   <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                       <button type="button" class="btn btn-outline-light text-danger" v-if="document_id!=item.document.id" @click="showEditForm(item)"><i class="mdi mdi-pencil"></i></button>
                                       <button type="button" class="btn btn-outline-light text-danger" v-else @click="updateFile(item)"><i class="mdi mdi-harddisk"></i></button>

                                       <button type="button" class="btn btn-outline-light text-danger" @click="deleteFile(item)"><i class="mdi mdi-trash-can"></i></button>

                                   </div>
                               </div>
                           </div>

                           <div v-if="document_id!=item.document.id">
                               <h5>{{item.document.title}}</h5>
                               <p>
                                   {{item.document.description}}
                               </p>
                               <p>
                                   <a :href="'/files/'+item.document.id">See Attached File</a>
                               </p>
                           </div>
                           <div v-else>
                               <div class="row">
                                   <div class="col-xs-12 col-md-12 ">
                                       <div class="form-group">
                                           <label for="">Document title</label>
                                           <input type="text" class="form-control form-control-sm" v-model="item.document.title" placeholder="Title">
                                       </div>
                                       <div class="form-group">
                                           <label for="">Short Description</label>
                                           <textarea type="text" class="form-control form-control-sm" v-model="item.document.description" rows="5" placeholder="description"></textarea>
                                       </div>
                                   </div>
                                   <div class="col-md-12">
                                       <vue-dropzone ref="myVueDropzone1" :id="Math.random().toString(36).substr(7)" :options="options" class="animate fadeInUp"

                                                     v-on:vdropzone-removed-file="removeFile"

                                       ></vue-dropzone>
                                   </div>

                               </div>

                           </div>
                       </div>
                   </div>

                </div>


        </div>
        <div v-if="itemsGroup.length==0">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="jumbotron text-center text-white bg-info" style="cursor: pointer" data-toggle="modal" data-target="#file-modal">
                        Click here to upload new document
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="file-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Upload File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-sm" v-model="document.title" placeholder="title">
                                </div>
                                <div class="form-group">
                                    <textarea type="text" class="form-control form-control-sm" v-model="document.description" rows="10" placeholder="description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <vue-dropzone ref="dropzone"
                                              :id="Math.random().toString(36).substr(7)"

                                              :options="options"

                                              class="animate fadeInUp"

                                              v-on:vdropzone-removed-file="removeFile"
                                              v-on:vdropzone-sending="sendingEvent"

                                ></vue-dropzone>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" @click="uploadFile">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>


<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
       props:['files','host','perRow'],
        components: {
            vueDropzone: vue2Dropzone
        },
        data: function () {
            return {
                nbZone:1,
                itemsPerRow:this.perRow?this.perRow:3,
                url:this.host,
                document:{
                    title:'',
                    description:''
                },
                document_id:'',//document to modify
                documents:JSON.parse(this.files),
                options: {
                    url: this.host+'/documents',
                    thumbnailWidth: 150,
                    uploadMultiple:false,
                    maxFilesize: 2,
                    maxFiles:1,
                    addRemoveLinks: true,
                    autoProcessQueue:false,
                    dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>UPLOAD ME",
                    headers:{},
                    init: function () {

                        this.on("success", function (file, response) {

                        })
                        this.on("removedfile", function(file){
                           console.log(file)
                        });
                    }
                }
            }
        },
        computed: {
            itemsGroup () {
                return Array.from(Array(Math.ceil(this.documents.length / this.itemsPerRow)).keys())
            }
        },
        methods:{
            showEditForm(item){
                if( this.document_id!=item.document_id){
                    this.document_id=item.document_id
                }else{
                    this.document_id=null
                }

            },
            uploadFile(){

                if(this.document.title.length<3){
                    alert("Please enter a valid title")
                }
                if(this.document.description.length<3){
                    alert("Please enter a valid description")
                }else{
                    this.$refs.dropzone.processQueue()
                }

            },
            updateFile(){

            },
            removeFile(){

            },
            deleteFile(){

            },

            sendingEvent (file, xhr, formData) {
                formData.append('title', this.document.title);
                formData.append('description', this.document.description);
            }


        },
        mounted() {
           console.log(this.host)
        }
    }

</script>
