<template>
    <div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="">From This Date</label>

                    <input type="date" class="form-control" v-model="fee.from">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="">€ per hour</label>
                    <input type="number" class="form-control" name="fee_per_hour" v-model="fee.per_hour">

                </div>
            </div>
            <div class="col">
                <span class="btn btn-sm btn-github btn-rounded float-right" @click="addFee()">
                    Send Request Via SMS, email or fax
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-google">Pending Fee-Decrease: </h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            From
                        </th>
                        <th>
                            Per hour
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="pFee in pendingFees">
                        <td>
                            {{pFee.from}}
                        </td>
                        <td>
                            {{pFee.per_hour}}€
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm btn-group-toggle">
                                <a href="#" class="btn btn-sm btn-default " @click="changeStatus(pFee,1)">
                                    <i class=" mdi mdi-check"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-default " @click="changeStatus(pFee,2)">
                                    <i class=" mdi  mdi-close"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h4 class="text-google">Accepted Fee-Decrease: </h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            From
                        </th>
                        <th>
                            Per hour
                        </th>
                        <th>
                            Requested at
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                         <tr v-for="acFee in acceptedFees">
                        <td>
                            {{acFee.from}}
                        </td>
                        <td>
                            {{acFee.per_hour}}€
                        </td>
                        <td>
                            {{acFee.created_at}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


</template>

<script>
import moment from 'moment'
import axios from 'axios'
    export default {

        props:["l-fees","jobObject"],

        data(){
            return {
                    fees:this.lFees || [],
                    job: this.jobObject || {},
                    fee:{
                        fom:new moment().format("YYYY-MM-DD"),
                        per_hour:0.00
                    }
            }
        },
        computed:{
            acceptedFees(){
                return this.fees.filter(fee=>{
                    return fee.status==1
                })
            },
            pendingFees(){
                return this.fees.filter(fee=>{
                    return fee.status==0
                })
            }
        },
        methods: {
            changeStatus(fee,status){
                axios.put('/api/jobs/'+fee.job_id+'/fees/'+fee.id+'/status?status='+status,{})
                    .then(resp=>{
                        console.log(resp)
                        this.get()
                    })
            },
            addFee(){
                axios.post('/api/jobs/'+this.job.id+'/fees',{...this.fee})
                    .then(resp=>{
                        console.log(resp.data)
                        this.get()
                })
            },
            get(){
                axios.get('/api/jobs/'+this.job.id+'/fees')
                    .then(resp=>{
                       this.fees=resp.data
                    })
            }

        },
        mounted() {
            console.log('Job fee mounted',this.job)
        }
    }
</script>

<style scoped>

</style>