<template>
    <div>
        <table style="width: 100%;">
            <tbody v-for="(frame,index) in frames">
            <tr>
                <td>
                  <b>  Time Frame #{{index}}</b>
                </td>
                <td>

                        <label for="">From</label>
                        <datetime :lang="lang"

                                  placeholder="To"


                                  input-class="form-control form-control-sm"
                                  :append-to-body="true" format="YYYY-MM-DD H:m" type="datetime" v-model="frame.from"
                        ></datetime>

                </td>
                <td>

                        <label for="">To</label>
                        <datetime :lang="lang"

                                  placeholder="To"


                                  input-class="form-control form-control-sm"
                                  :append-to-body="true" format="YYYY-MM-DD H:m" type="datetime" v-model="frame.to"
                        ></datetime>

                </td>

                <td style="width: 100px">
                        <input type="text" class="form-control form-control-sm" v-model="frame.per_hour">
                </td>
                <td>
                    <label for="">€ per hour</label>
                </td>
                <td>
                    <span class="btn btn-sm  float-right" @click="removeFrame(frame,index)"><i class="mdi mdi-trash-can"></i></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <div class="form-group">
                       <textarea type="text" class="form-control form-control-sm" v-model="frame.notes"  style="resize: vertical" placeholder="notes"></textarea>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden"  name="frames" :value="JSON.stringify(frames)">
        <div class="row">
        <div class="col">
            <span class="btn rounded btn-sm btn-github float-right" @click="addTimeFrame">Add New Time Frame</span>
        </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';



    import datetime from 'vue2-datepicker'



    export default {
        components: { datetime },
        props:['tframes'],
     data(){
         return {
             lang: {
                 days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                 months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                 pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                 placeholder: {
                     date: 'Select Date',
                     dateRange: 'Select Date Range'
                 }
             },
             frames:this.tframes

         }
     },
        methods:{
            addTimeFrame: function () {
                this.frames.push({
                    from:moment(),
                    to:moment().add(60),
                    per_hour:0,
                    notes:''
                })



            },
            removeFrame(frame,index){
               this.frames.splice(index,1)
            }
        },
        mounted() {


        }
    }
</script>
