<template>
    <div>
        <div class="form-group">
            <input type="text" v-model="query"
                   class=" form-control"
                   placeholder="Search for service area"
                   >


        </div>

       <!-- <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label"  @click="invertSelection">
                            <input type="radio" name="r1" class="form-check-input"  @click="invertSelection">
                            Invert Selection
                            <i class="input-helper"></i></label>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label"  @click="selectAll">
                            <input type="radio" name="r1" class="form-check-input"  @click="selectAll">
                            Select All
                            <i class="input-helper"></i></label>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label"  @click="uncheckAll">
                            <input type="radio" name="r1" class="form-check-input"  @click="uncheckAll">
                            Uncheck All
                            <i class="input-helper"></i></label>
                    </div>

                </div>
            </div>
        </div>

        -->
        <div class="div" style="padding: 0px 15px 15px;max-height: 460px; overflow-y: auto; width: 100%; box-shadow: 0px -1px 20px #eeeeeeba;">

                <div class="" v-for="(service,key) in filtredServices"  @click="toggleService(service)" style="cursor: pointer">

                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label"  :for="'service'+key" style="cursor: pointer">
                                <input type="checkbox" v-model="service.selected" :id="'service'+key" @click="toggleService(service)" name="service_area_ids[]"
                                       class="form-check-input"
                                       :value="service.id">
                                {{service.name}}
                                <i class="input-helper"></i></label>
                        </div>
                    </div>
                    <div class="dashed-divider"></div>
                    </div>


        </div>


    </div>

</template>

<script>

    export default {
        props:['l-services','selected'],
        data:function(){
            return {
                services:JSON.parse(this.lServices),
                currentServices:JSON.parse((this.selected)),
                query:null


            }
        },
        methods:{
            toggleService(service){
                        service.selected=!service.selected
            },
            invertSelection(){

                this.services.forEach(function(service){
                        service.selected=!service.selected

                })
                this.query=" "
                this.query=""
            },
            selectAll(){


             this.services.forEach(function(service){
                    service.selected=true


                })

                this.query=" "
                this.query=""
            },
            uncheckAll(){

                this.services.forEach(function(service){
                    service.selected=false


                })

                this.query=" "
                this.query=""
            }
        },
        mounted() {

            let that=this
            if(this.currentServices.length>0){
                this.services=this.services.map(function (service) {
                    var s = that.currentServices.find(function (item) {

                        return item.id == service.id
                    })


                    if (s != undefined || s != null) {
                        service.selected = true
                    } else {
                        service.selected = false
                    }

                    return service
                })
            }

        },

        computed: {
            filtredServices () {
                let that=this
                return this.services.filter(function(item){
                    if(that.query!=null){

                        return item.name.toLowerCase().includes(that.query.toLowerCase()) && (item.selected ||  true)
                    }
                    return item

                })
            }
        },


    }
</script>

<style scoped>

</style>
