<template>
    <div>
        <div class="form-group">
                        <input type="text" v-model="query"
                               class=" form-control"
                               placeholder="Search for Practice"
                        >
                    </div>
                    <div class="div" style="padding: 0px 15px 15px;max-height: 460px; overflow-y: auto; width: 100%; box-shadow: 0px -1px 20px #eeeeeeba;">

                        <div class="hoverable" v-for="(practice,key) in filtredpractices" style="cursor: pointer;padding: 8px">

                            <a class="text-decoration-none text-github" :href="'/practices/verification_form_send?p_id='+practice.id">
                                {{practice.first_name}}    {{practice.last_name}} ({{practice.primary_email}})

                            </a>
                            <div class="dashed-divider mt-2"></div>

                        </div>


                    </div>


    </div>

</template>

<script>
    import axios from "axios"
    export default {
        props:['l-practices','selected','url'],
        data:function(){
            return {
                practices:JSON.parse(this.lPractices || []),
                host:this.url,
                query:null

            }
        },
        methods:{
                loadPractices(){
                    let that =this
                    axios.get(this.host+'?q='+this.query).then(resp=>{
                        this.practices=resp.data
                    })
                }
        },
        mounted() {

            console.log(this.host)

        },
        watch:{
            "filtredpractices":function() {
                if(this.filtredpractices.length==0){
                    this.loadPractices()
                }
            }
        },
        computed: {
            filtredpractices () {
                let that=this
                return this.practices.filter(function(practice){

                    if(that.query!=null){
                        return (practice.first_name+' '+practice.last_name).toLowerCase().includes(that.query.toLowerCase())
                    }
                    return practice

                })
            }
        },


    }
</script>

<style scoped>

</style>
