<template>
    <div>
        <div class="form-group">
            <input type="text" v-model="query"
                   class=" form-control"
                   placeholder="Search for Doctor"
                   >


        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label" >
                            <input type="radio" name="r1" class="form-check-input">
                            All with Interest
                            <i class="input-helper"></i></label>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" name="r1" class="form-check-input">
                            Exclusively
                            <i class="input-helper"></i></label>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label" >
                            <input type="radio" name="r1" class="form-check-input">
                            Only available
                            <i class="input-helper"></i></label>
                    </div>

                </div>
            </div>
        </div>


        <div class="div" style="padding: 0px 15px 15px;max-height: 460px; overflow-y: auto; width: 100%; box-shadow: 0px -1px 20px #eeeeeeba;">

                <div class="" v-for="(doctor,key) in filtreddoctors" style="cursor: pointer">

                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label"  :for="'doctor'+key" style="cursor: pointer">
                                <input type="checkbox" v-model="doctor.selected" :id="'doctor'+key"  name="doctors_ids[]"
                                       class="form-check-input"
                                       :value="doctor.user.id">
                                {{doctor.user.first_name}}    {{doctor.user.last_name}} ({{doctor.user.email}})

                                <i class="input-helper"></i></label>
                        </div>


                    </div>
                    <div class="dashed-divider"></div>
                    </div>


        </div>


    </div>

</template>

<script>

    export default {
        props:['l-doctors','selected'],
        data:function(){
            return {
                doctors:JSON.parse(this.lDoctors || []),
                query:null


            }
        },
        methods:{

        },
        mounted() {

            console.log(this.lDoctors)

        },

        computed: {
            filtreddoctors () {
                let that=this
                return this.doctors.filter(function(doctor){
                    if(that.query!=null){

                        return doctor.user.first_name.toLowerCase().includes(that.query.toLowerCase())
                    }
                    return doctor

                })
            }
        },


    }
</script>

<style scoped>

</style>
