<template>
    <div>


        <div v-if="!inline">
            <div class="form-group">
                <label for="">Practice</label>
                <TypeAhead
                        v-model="practice_name"
                        placeholder="Search for practice"
                        src="/api/search/practices?q=:q"
                        :getResponse="getResponse"
                        :minChars="1"
                        queryParamName=":q"
                        :onHit="onHit"
                        :render="render"
                        :highlighting="pHighlighting"
                ></TypeAhead>
                <input type="text" v-model="practice_id" name="practice_id" hidden>
            </div>
            <div class="form-group">
                <label for="">Service Area</label>


                <select  v-model="defaultService.id" name="service_area_id" class="form-control">
                    <option :value="service.id" v-for="service in services" >{{service.name}}</option>
                </select>
                <input type="text" v-model="defaultService.id" hidden name="service_area_id">
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
                <div class="form-group" id="practice-typeahead">
                    <label for="">Practice</label>
                    <TypeAhead
                            v-model="practice_name"
                            placeholder="Search for practice"
                            src="/api/search/practices?q=:q"
                            :getResponse="getResponse"
                            :minChars="1"
                            queryParamName=":q"
                            :onHit="onHit"
                            :render="render"
                            :highlighting="pHighlighting"
                    ></TypeAhead>
                    <input type="text" v-model="practice_id" name="practice_id" hidden>
                </div>
            </div>

            <div class="col-md-6 col-md-6 col-sm-12 col-xs-12 col-lg-6">


                    <div class="form-group">
                        <label for="">Service Area</label>


                        <select  v-model="defaultService.id" name="service_area_id" class="form-control">
                            <option value="service.id" v-for="service in services" >{{service.name}}</option>
                        </select>
                        <input type="text" v-model="defaultService.id" hidden name="service_area_id">
                    </div>



            </div>



        </div>


    </div>




</template>

<script>
    import axios from "axios"
    import TypeAhead from 'vue2-typeahead'

    export default {
        name: "AutocompletePractice",
        props:['p-name','s-name','p-id','s-id','is-inline'],
        components:{
            TypeAhead
        },
        data(){
            return {
                practice_id:this.pId,
                practice_name:this.pName,
                service_id:this.sId,
                practices:[],
                defaultService:{
                    id:this.sId,
                    name:this.sName
                },
                services:[],
                inline:this.isInline| false
            }
        },

        methods: {
            getResponse: function (response) {
                return response.data
            },
            render: function (items, vue) {

                return items
            },

            onHit: function (item, vue, index) {
                this.practice_id=item.id
                this.loadServices()
                this.service_id=null
                this.service_name=null
                vue.query = item.first_name+' '+item.last_name
            },
            pHighlighting:function(item,vue){
                return (item.first_name+' '+item.last_name).replace(vue.query,'<b>'+vue.query+'</b>')
            },
            loadServices(){
                let that=this
                axios.get("/api/search/practices/"+this.practice_id+"/services").then(resp=>{
                    that.services=resp.data
                })
            }

        },
        mounted() {
            console.log(this.iniDisplay,this.iniValue)

            if(this.practice_id!=null){
                this.loadServices()
            }
        }
    }
</script>

<style scoped>

</style>