<template>
    <div>
        <tags element-id="tags"
                    element-name="tags"
                    :existing-tags="tags"
                    v-model="selected_tags"
                    :typeahead="true"

                    typeahead-style="dropdown"
                    :typeahead-activation-threshold="1"

        ></tags>



    </div>



</template>

<script>
    import tags from '@voerro/vue-tagsinput';

    export default {
        name: "tag",
        props:['tags','tags2'],
        components:{
            tags
        },
        data(){
            return {

                selected_tags:this.tags2,
                existing_tags:this.tags


            }
        },

        methods: {
            formattedDisplay(item){
                let keys=this.display.split(',')
                let result=''
                keys.forEach(key=>{
                    result+=item[key]+' '
                })

                return result
            },
            search(input) {


                if (input.length < 1) { return [] }
                const url = "/api/search/practices?q="+input;


                return new Promise(resolve => {
                    if (input.length < 1) {
                        return resolve([])
                    }

                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                          resolve(data)
                        })
                })

            },
            getResultValue(result) {
                this.selected_value=result.id
                return result.first_name+' '+result.last_name
            },
            handleSubmit(result,e) {
                     console.log(e)

            }

        },
        mounted() {
            console.log(this.$props)

        }
    }
</script>

<style scoped>

</style>